SECRET_KEY=some_secret_key

POSTGRES_DB_NAME=postgres
POSTGRES_DB_USER=postgres
POSTGRES_DB_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

APP_ENDPOINT=http://localhost:4200
API_HOST=0.0.0.0

# TODO change to angular counterparts
REACT_APP_API_ENPOINT=http://0.0.0.0:8000
REACT_APP_API_URL=http://localhost:8000
REACT_APP_ROOT_URL=
