<nb-card size="medium">
  <div *ngIf="loading">
      Loading...
    </div>
    <div *ngIf="error">
      Error :(
    </div>
  <nb-card-header>
    <span>Items</span>
  </nb-card-header>

  <nb-list class="user-activity-list">
    <nb-list-item *ngFor="let item of items">

      <div class="user-name">
        {{ item.name }}
      </div>
      
      <div class="user-access-level">
        <div class="caption">Access level</div>
        <div class="value">{{ item.accessLevel }}</div>
      </div>

      <div class="user-more">
        <button nbButton ghost status="primary" [nbContextMenu]="ctxItems" [nbContextMenuTag]="item.id" nbContextMenuPlacement="bottom">
          <nb-icon icon="more-horizontal-outline"></nb-icon>
        </button>
      </div>

    </nb-list-item>
  </nb-list>

</nb-card>
